<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="" port="25" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "0" gives none "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="TraceLevelSwitch" value="4"/>
    </switches>
  </system.diagnostics>
</configuration>