<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotifierLibrary.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  

  <applicationSettings>
        <NotifierLibrary.Settings1>
              <setting name="ScanForNewRoomIntervalSeconds" serializeAs="String">
                    <value>600</value>
              </setting>
              <setting name="ScanForUserChangesIntervalSeconds" serializeAs="String">
                    <value>3600</value>
              </setting>
              <setting name="ScanForNewUserIntervalSeconds" serializeAs="String">
                    <value>3600</value>
              </setting>
              <setting name="ScanForNewMessagesIntervalSeconds" serializeAs="String">
                    <value>10</value>
              </setting>
        </NotifierLibrary.Settings1>
    </applicationSettings>
</configuration>